<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
        <div class="card-header text-center">
            <b>AJOUTER UN CONTRAT</b>
        </div>

        <?php
        	if ($_SESSION['flash']){
        ?>
	            <div class="alert alert-<?= $_SESSION['icon'];?> mt-3" role="alert">
	                <?= $_SESSION['flash']; ?>
	            </div>

        <?php
            $_SESSION['flash'] = null;
            }
        ?>


        <div class="mt-3">
        	Quel(s) abonnement(s) comporte ce contrat ?
        </div>

        <form method="post" action="" class="mt-3"  enctype="multipart/form-data" style="visibility: visible;">
			<div>
				<?php
	            	foreach ($lesAbonnements as $unAbonnement) {
	            ?>
	            	<input type="checkbox" name="<?= $unAbonnement['id_abonnement'];?>" value="<?= $unAbonnement['id_abonnement'];?>"><?= $unAbonnement['id_abonnement']." - ".$unAbonnement['nom']; ?>
	            	<br>
	            <?php
	            	}
	            ?>
        	</div>

            <div class="form-group mt-3">
                <input type="email" class="form-control" id="searchUser" name="mail" aria-describedby="emailHelp" autocomplete="off" placeholder="Rechercher un e-mail" />
                <div id="dropSelect" class=" alert alert-info mt-3 " role="alert"></div>
            </div>


            <div class="custom-file mb-5">
                <input type="file" class="custom-file-input" id="file" name = "file" lang="fr" />
                <label class="custom-file-label" for="customFileLang">Sélectionner un fichier pdf</label>
            </div>


            <div class="d-flex justify-content-lg-end">
                <button type="submit" class="btn ">Charger</button>
            </div>
        </form>

    </div>

</div>