<div class="col-0 col-lg-4"></div>
<div class="col-12 col-lg-4 mt-5 col-login">
    <div class="card ">
        <div class="card-header text-center">
            <h3><b>CHANGEMENT DE MOT DE PASSE</b></h3>
        </div>
        <div class="card-body">
            <form  class="mt-5" method="post" action="">
                <?PHP

                    if ($_SESSION['flash']):
                ?>

                <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                    <?= $_SESSION['flash']; ?>
                </div>

                <?PHP

                $_SESSION['flash'] = null;
                    endif;
                ?>
                <div class="form-group mt-5">
                    <label for="exampleInputPassword1">Changer mot de passe :</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                </div>
                <div class="d-flex justify-content-lg-end">
                    <button type="submit" class="btn ml-3" name="login" >Changer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-0 col-lg-4"></div>