<div class="d-none d-lg-block col-lg-4 col-xl-3 ">

</div>

<div class="d-none d-lg-block col-lg-4 col-xl-3 col-menu " >
    <div class="row row-head">
        <div class="col-12 head pt-3 pb-3">
            <span class="">Espace client</span>
        </div>
    </div>


    <div class="col-12  d-flex justify-content-center logo">
        <a href="/Home"><img class="" style="max-width: 300px;" src="./<?= asset('img/logo_makeflo.png'); ?>"/></a>
    </div>
</div>

<div class="col-12  col-lg-8 col-xl-9 col-body">
    <div class="row row-nav">
        <nav class="col-12 col-lg-11 navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-sm-start justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav">

                <li class="nav-item  dropdown">
                  <a class="nav-link dropdown-toggle" href=""  role="button" data-toggle="modal" data-target=".bd-example-modal-lg" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-headset mr-3"></i> Assistance technique
                  </a>
                </li>


                  <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-folder pl-3"></i> Mes Projets
                    </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/AjouterFichier"><i class="fas fa-download mr-3"></i> Ajouter un fichier(PDF) </a>
                      </div>
                  </li>


              <li class="nav-item  dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-file-invoice-dollar pl-3"></i> Factures
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/MesFactures"> Mes Factures</a>
                  </div>
              </li>



                  <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-file-contract pl-3"></i> Contrats
                    </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/MyContract"> Mes Contrats</a>
                      </div>
                  </li>



                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user pl-3"><b> <?= $res_admin[0]['nom']." ".$res_admin[0]['prenom'] ?> </i></b>
                        </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Profile">Mon profil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Deconnexion">Déconnexion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <img class="" style="width: 100%" src="./<?= asset('img/Pop_up_header.png'); ?>"/>

        <form method="post" action="/Home">

          <div class="row">
            <div class="col">
                <div class="p-3">
                    <p class="font-weight-bold">Demandez à être rappelé.</p>
                </div>
                <div class="p-3">

                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <p class="font-weight-bold">Nos conseillers répondent à vos question via notre chat en ligne.</p>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <p class="font-weight-bold">Gérez vos commandes, configurez ou faites évoluer votre contrat.</p>
                </div>
            </div>
          </div>

            <div class="row">
                <div class="col">
                    <div class="p-3">
                        <button type="submit" class="btn btn-primary" name="bouton" value="ok" onclick="return confirm('Confirmez-vous la demande de rappel ?')">Envoyez une demande</button>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <a href="/Message">Assistance en ligne <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col">
                    <div class="p-3">
                        <a href="/Home">Espace client <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </form>
        <img class="" style="width: 100%" src="./<?= asset('img/Pop_up_footer.png'); ?>"/>
    </div>
  </div>
</div>
