<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>MES RENDEZ-VOUS</b>
        </div>
        <?PHP

        if ($_SESSION['flash']):
        ?>

        <div class="alert alert-<?= $_SESSION['icon'];?> mt-3" role="alert">
        <?= $_SESSION['flash']; ?>
        </div>

        <?PHP

        $_SESSION['flash'] = null;
        endif;
        ?>
        <div class="card-body p-3">

        <?php

        if(isset($res_rdv)){
            foreach($res_rdv as $key =>$val){

                if(strtotime($val['date_appoint']) >= strtotime(date('Y-m-d'))){
                    if ($val['date_appoint'] == date('Y-m-d')){

        ?>

                    <div class="row d-flex justify-content-start row-message">
                        <div class="col-12 p-3 col-message mb-4 rounded bg-success text-white">
                                Rendez-vous
                                <b><?php
                                        echo "aujourd'hui à ".$val['hour_appoint'];

                    }else{
        ?>
                    <div class="row d-flex justify-content-start row-message">
                        <div class="col-12 p-3 col-message mb-4 rounded bg-light">
                                Rendez-vous
                                <b><?php
                                        echo "le ".$val['date_appoint']." à ".$val['hour_appoint'];

					}


        							?>


                            </b> avec <b><?= get_user($val['id_user'])[0]['nom'] ?> <?= get_user($val['id_user'])[0]['prenom'] ?></b>
                            <div class="float-right">
                              <a  href="/AgendaA/>" onclick="return confirm('Voulez-vous modifier la date du rendez-vous ?')"><button type="button" class="btn"><i class="fas fa-pen"></i></button>
                              <a href="/RdvA/?delete=<?= $val['id_appointment'] ?>" onclick="return confirm('Voulez-vous supprimer ?');"><button type="button" class="btn"><i class="fas fa-trash-alt"></i></button></a>
                            </div>




                          </div>
                        </div>




        <?php

                }
            }

        }
        ?>


      </div>

    <!-- end -->
    </div>



</div>
