<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>CHOISIR UNE DATE</b>
        </div>

        <?php
            if ($_SESSION['flash']){
        ?>

                <div class="alert mt-3 alert-<?= $_SESSION['icon'];?>" role="alert">
                    <?= $_SESSION['flash']; ?>
                </div>

        <?php
            $_SESSION['flash'] = null;
            }
        ?>

        <div class="agenda-head d-flex justify-content-between mt-3 pt-2 col-12">
            <a href="/Agenda/?month=<?= $month->previousMonth()->_month ?>&year=<?= $month->previousMonth()->_year ?>" class="btn pl-3 m-0"><i class="fas fa-caret-square-left"></i></a>
            <h4 class="m-0" ><?= $month->toString(); ?></h4>
            <a href="/Agenda/?month=<?= $month->nextMonth()->_month ?>&year=<?= $month->nextMonth()->_year ?>" class="btn pr-3 m-0"><i class="fas fa-caret-square-right"></i></a>
        </div>

        <table class="calend mt-3 col-12">
            <?php  for($i = 0; $i < $month->getWeeks(); $i++ ){   ?>
                <?php if($i === 0){ ?>

                    <tr>
                        <?php foreach($month->days as $k => $day){ 
                            $date =(clone $start_day)->modify("+" . ($k + $i * 7) . " days");                           
                        ?>

                        <td >
                            <div class="week-day"><?= $day; ?></div>
                        </td>

                        <?php } ?>
                    </tr>
                <?php } ?>


                    <tr>
                        <?php                           
                            foreach($month->days as $k => $day){
                                $date =(clone $start_day)->modify("+" . ($k + $i * 7) . " days");
                                $app = appoint($date->format('Y-m-d'), $all_appoint);

                                $msg = "'Votre rendez-vous le ".$date->format('d-m-Y')." a été enregistré'";
                                $fun = "return check_submit($msg)";
                                $enabled = 'onclick="'.$fun.'"';
                                $desabled = "onclick='return desabled()'";

                                $before = "";
                                if(strtotime(date('d-m-Y')) > strtotime($date->format('d-m-Y'))){
                                    $before = "true";
                                }else{
                                    $before = "";
                                }                            
                        ?>

                        <td class="text-center" >
                            <a  href="/Agenda/?appoint=<?= $date->format('Y-m-d'); ?>&day=<?= $day; ?>&before=<?= $before; ?>"
                                
                                <?php 
                                    if($app == 'ok' || $day == "Dim" || $day == "Sam" || $before == "true"){
                                        echo $desabled;
                                    }else{
                                        echo $enabled;
                                    }
                                ?>
                            >

                            <div
                                <?php  if (strtotime(date('d-m-Y')) <= strtotime($date->format('d-m-Y'))){ ?>
                                    data-toggle="modal"
                                    data-target="#exampleModal"
                                <?php } ?>


                                    class="d-flex justify-content-between
                                    <?= $month->withinMonth($date) ? 'day' : 'day'; ?>  
                                    <?= $day == "Dim" || $day == "Sam" ? 'remove' : ''; ?> 
                                    <?= date('Y-d-m') == $date->format('Y-d-m') ? 'weekend' : ''; ?> 
                                    <?= $day == "Sun" || $day == "Sat" ? 'remove' : '' ?> 
                                    <?php
                                        if($app == 'ok'){
                                            echo 'week-day';
                                        }
                                    ?> 
                                    <?= strtotime(date('d-m-Y')) > strtotime($date->format('d-m-Y'))? 'remove' : '' ?>" >

                                    <?= $date->format('d'); ?> 
                                </div>
                            </a>

                        </td>
                        <?php } ?>
                    </tr>

            <?php  }  ?>
        </table>
    <!-- end -->
    </div>

    <?php 
        if(!isset($visibility)){
            $visibility = "hidden";
        }
    ?>
        <div class="card">
            <div class="card-header text-center" style="visibility: <?=$visibility;?>">
                <b>CHOISIR UN HORAIRE</b>
            </div>
        </div>

            <form action="" method="post" style="visibility: <?=$visibility;?>">
                <div class="card-body text-center">
                            <select name="hour">
                                <option value="14h00">14</option>
                                <option value="15h00">15</option>
                                <option value="16h00">16</option>
                                <option value="17h00">17</option>
                                <option value="18h00">18</option>
                                <option value="19h00">19</option>
                            </select>
                        h 00               

                    
                    <?php
                        if(isset($dateAppoint)){
                    ?>
                    <input type="hidden" name="appoint" value="<?= $dateAppoint;?>">
                    <?php
                        }
                    ?>
                </div>

                <div class="card-body text-center">
                    <button type="submit" value="Valider ce rendez-vous" class="btn btn-basic">Valider ce rendez-vous</button>
                </div>                    

            </form>

</div>