<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>DESCRIPTION DU SERVICE</b>
        </div>

        <?PHP

            if ($_SESSION['flash']):
            ?>

            <div class="alert alert-<?= $_SESSION['icon'];?> mt-3" role="alert">
            <?= $_SESSION['flash']; ?>
            </div>

            <?PHP

            $_SESSION['flash'] = null;
            endif;
        ?>

            <?php
            if($table):
                $image =  $table[0]['img'].".png";
            ?>

            <div class="row pt-3">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card bg-light">
                  <div class="card-body">
                    <img class="card-img-top" src="./<?= asset('img/assets/'.$image); ?>" alt="Card image cap">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card bg-light pt-3">
                  <div class="card-body">
                    <h4><?=   $table[0]['nom'] ?></h4>
                    </br>
                    </br>
                    <p>Description : </br></br> <?=   nl2br($table[0]['description']) ?></p>
                    <?php 
                          //Remplace dot with comma
                          $numberPrice = str_replace('.',',', $table[0]['prix']);
                        ?>
                    <div class="float-right">
                    <h3 style="color: #e96656">Prix : <?=  $numberPrice ?> €</h3>
                    </div>
                  </div>
                </div>
                <form method="post" action="">
                    <a href="/ServiceView/?id=<?=  $table[0]['id_abonnement'] ?>"><button name="ajouter" class="btn col-12" style="width: 100%"> Ajouter </button></a>    
                </form>
              </div>
            </div>

            <?php
            endif;
            ?>

    <!-- end -->
    </div>
</div>