
    <div class="col-12 col-lg-4 col-widget p-3 p-lg-0"><!-- here we insert code of widget  -->
        <div class="card col-12 p-lg-0 mb-5" >
            <div class="card-header ">
            <i class="fas fa-bell mr-3"></i> MES NOTIFICATIONS
            </div>
            <div class="list-group list-group-flush">

                        <li class="list-group-item"><a href="MessageA" ><span class="badge badge-danger ml-3 mr-3"><?= $nb_message ?></span> Mes Messages </a></li>
                        <li class="list-group-item"><a href="/Deadline" ><span class="badge badge-danger ml-3 mr-3"><?= $dead ?></span> Deadline </a></li>
                        <li class="list-group-item"><a href="/RdvA" ><span class="badge badge-danger ml-3 mr-3"><?= $n_appoint ?></span> Rendez-vous </a></li>
                        <li class="list-group-item"><a href="/TraitementContratNotif" ><span class="badge badge-danger ml-3 mr-3"><?= $nb_contratATraiter ?></span> Contrat à traiter </a></li>
            </div>
        </div>
        <div class="card col-12 p-lg-0 mb-5" >
            <div class="card-header ch">
                <img class="card-img-top" src="./<?= asset('/img/bouton_facture.png'); ?>" alt="Card image cap">
            </div>
            <div class="list-group list-group-flush p-3 bg-btn">
                <button type="button" class="btn btn-light">Créer une facture</button>
            </div>

        </div>
        <div class="card col-12 p-lg-0 prrdv" >
            <div class="card-header p-0">
                <a href="/AgendaA"><img class="card-img-top " src="./<?= asset('img/prende_rdv.png'); ?>" alt="Card image cap"></a>
            </div>

        </div>

    </div>
</div>
