<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>SUPPRIMER UN PROFIL</b>
        </div>
        <div class="card-body p-3">
        <form method="post" action="/DeleteUser/" >
        <?php
            if($resultat_user):
                foreach($resultat_user as $key =>$val):
        ?>
                    <div class="row d-flex row-project mb-1 p-3 pr-0 rounded">
                        <div class="col-1 pt-2"><input name="user[]" type="checkbox" value="<?= $val['id_user'] ?>" /> </div>
                        <div class="col-4 col-xl-4 pt-2"><b><?= $val['nom'] ?> <?= $val['prenom'] ?> </b></div>
                        <div class="col-7  pt-2"><?= $val['mail'] ?></div>
                        
                    </div>

        <?php
                endforeach;
            endif;
        ?>

        </div>        
                    <div class="d-flex justify-content-end p-0 mt-3">
                        <button type="submit" class="btn " >Supprimer</button>
                    </div>
        </form>
        

    <!-- end -->
    </div>

</div>