<!DOCTYPE html>
<html lang="fr">
<head>
<!--
// BaseLogin
// name of project Makeflo.
//Script create by lakhdar.
// Contact: lakhdar-rouibah@live.fr.
// Web : rouibah.fr
-->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Makeflo</title>
    <link rel="stylesheet" type="text/css" href="./<?= asset('css/bootstrap.min.css') ?>">
    <link rel="stylesheet" type="text/css" href="./<?= asset('css/styles.min.css') ?>">    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row row-all">



{{% Login %}}


    </div>
</div>
<script src="<?= asset('js/jquery-3.3.1.min.js') ?>"type="text/javascript"></script>
<script src="<?= asset('js/popper.min.js') ?>"type="text/javascript"></script>
<script src="<?= asset('js/bootstrap.min.js') ?>"type="text/javascript"></script>
<script src="<?= asset('js/app.js') ?>"type="text/javascript"></script>
</body>
</html>
