<div class="row row-head-nav ">
    <div class="col-12 d-flex flex-wrap pl-5 pr-5 pt-3 pb-3">
            <div class="title  pt-3 pl-3 pr-3 pb-0 col-12">
                <h2>Bonjour <?= mb_strtoupper ($res_admin[0]['nom'])." ".mb_strtoupper ($res_admin[0]['prenom']) ?></h2>
            </div>
    </div>
</div>
<div class="row row-head-nav p-3 pt-3">
    <div class="col-12 d-flex flex-wrap">
        <a href="/MyService" class="card col-12 col-sm-6 col-lg-3 mb-3">
            <div class="test">
                <img class="card-img-top" src="./<?= asset('img/bloc_rouge.png') ?>" alt="Card image cap">
            </div>
        </a>
        <a href="/AddService" class="card col-12 col-sm-6 col-lg-3 mb-3">
            <div class="test">
                <img class="card-img-top" src="./<?= asset('img/bloc_bleu.png') ?>" alt="Card image cap">
            </div>
        <a href="/MyProject" class="card col-12 col-sm-6 col-lg-3 mb-3">
            <div class="test">
                <img class="card-img-top" src="./<?= asset('img/bloc_orange.png') ?>" alt="Card image cap">
            </div>
        </a>
        <a href="/New" class="card col-12 col-sm-6 col-lg-3 mb-3">
            <div class="test">
                <img class="card-img-top" src="./<?= asset('img/bloc_vert.png') ?>" alt="Card image cap">
            </div>
        </a>
        
    </div>
</div>