

<div class="d-none d-lg-block col-lg-4 col-xl-3 ">

</div>

<div class="d-none d-lg-block col-lg-4 col-xl-3 col-menu " >
    <div class="row row-head">
        <div class="col-12 head pt-3 pb-3">
            <span class="">Espace Admin</span>
        </div>
    </div>

    <div class="col-12  d-flex justify-content-center logo">
        <a href="/Home"><img class="" style="max-width: 300px;" src="./<?= asset('img/logo_makeflo.png'); ?>"/></a>
    </div>
</div>

<div class="col-12  col-lg-8 col-xl-9 col-body">
    <div class="row row-nav">
        <nav class="col-12 col-lg-11 navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-sm-start justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav">

                <li class="nav-item  dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="far fa-newspaper pl-3"></i> Actualité
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/Actualite"><i class="far fa-paper-plane pr-3"></i>ajouter une actualité</a>
                  </div>
                </li>



                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-box-open pl-3"></i> Produits
                    </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ListeAbonnement"><i class="fas fa-cubes pr-3"></i>Les produits </a>
                        <a class="dropdown-item" href="/Abonnement"><i class="fas fa-plus pr-3"></i> Ajouter un produit</a>
                    </div>
                </li>
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-folder pl-3"></i> Projets
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ListeProject"><i class="fas fa-folder-open pr-3"></i> Les projets </a>
                        <a class="dropdown-item" href="/AddProject"><i class="fas fa-plus pr-3"></i> Ajouter un projet</a>
                        <a class="dropdown-item" href="/HistoryProjet"><i class="fas fa-archive"></i> Projets Archiver</a>
                    </div>
                </li>

                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-list-ol pl-3"></i> Factures
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/PayBills"><span class="badge badge-danger ml-3 mr-3"><?= $bills ?></span>Factures Payées</a>
                        <a class="dropdown-item" href="/OutBills"><span class="badge badge-danger ml-3 mr-3"><?= $billNot ?></span>Factures Impayées</a>
                    </div>
                </li>


                <?php
                    if($su === 'su'):
                ?>
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-users pl-3"></i> Clients
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Register"><i class="fas fa-plus pr-3"></i> Ajouter un client</a>
                        <a class="dropdown-item" href="/ListeClient" class="col-12 p-0"><i class="far fa-list-alt mr-3"></i> Liste de clients </a>
                        <a class="dropdown-item" href="/ClientContract" class="col-12 p-0"><i class="fas fa-file-contract mr-3"></i> Contrat </a>
                    </div>
                </li>

                <?php
                    endif;
                ?>

                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user pl-3"></i> <?= $res_admin[0]['nom']." ".$res_admin[0]['prenom'] ?></a>
                    </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/Deconnexion"><i class="fas fa-sign-out-alt pr-3"></i> Déconnexion</a>
                    </div>
                </li>

                </ul>
            </div>
        </nav>
    </div>
