<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
        <div class="card-header text-center">
            <b>AJOUTER UN CONTRAT À TRAITER</b>
        </div>

        <form method="post" action="" class="mt-3"  enctype="multipart/form-data">

            <?php

            if ($_SESSION['flash']){
            ?>

            <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                <?= $_SESSION['flash']; ?>
            </div>

            <?php

            $_SESSION['flash'] = null;
            }

            ?>

            <div class="form-group" >
                <?= "Pour ".$postUserNom." ".$postUserPrenom." - Abonnement ".$postAbonnementNom."<br>Demandé le ".$postDateDemande;?>
            </div>

             <div class="custom-file mb-5">
                <input type="file" class="custom-file-input" id="file" name = "file" lang="fr" />
                <label class="custom-file-label" for="customFileLang">Sélectionner un fichier pdf</label>
            </div>
            <div class="d-flex justify-content-lg-end">

                <!--Récupère tout ce qui a été envoyé par POST lors du précédent TraitementContratNotif-->
                <input type="hidden" name="id_user" value="<?=$postUserId;?>">
                <input type="hidden" name="nom" value="<?=$postUserNom;?>">
                <input type="hidden" name="prenom" value="<?=$postUserPrenom;?>">
                <input type="hidden" name="id_abonnement" value="<?=$postAbonnementId;?>">
                <input type="hidden" name="nom_abonnement" value="<?=$postAbonnementNom;?>">
                <input type="hidden" name="dateDemande" value="<?=$postDateDemande;?>">

                <button type="submit" class="btn">Charger</button>
            </div>
        </form>
    </div>
</div>
