<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>MES FACTURES</b>
        </div>
        <div class="card-body p-3">



        <?php
            if($resultatFacture):
                foreach($resultatFacture as $key =>$val):
                    if ($val['etat'] == null) 
                    {
                        // $filename = "./Core/public/folders/factures/'.$res_user[0]['folder'].'/'.$res_user[0]['lien']";
                        // echo FileSizeConvert(filesize($filename));          
        ?> 
                    <div class="row row-project mb-1 p-2 pr-0 rounded">
                        <div class="col-1 pt-2"><i class="fas fa-file-archive"></i> </div>
                        <div class="col-5 col-lg-3 col-xl-6 pt-2"><?= $val['lien'] ?></div>
                        <div class="col-3 col-lg-3 col-xl-3 pt-2"><?= strtoupper($val['date_facture']) ?></div>
                        <div class="col-1 d-flex justify-content-end"><a href="/MesFactures/?factureview=<?= $val['lien'] ?>"><button class="btn"><i class="far fa-eye"></i></button></a></div>
                        <div class="col-1 d-flex justify-content-end"><a href="/MesFactures/?facturedownload=<?= $val['lien'] ?>"><button class="btn"><i class="fas fa-download"></i></button></a></div>
                    </div>

        <?php
                    }
                    else
                    {
        ?>
                    <div class="row row-project mb-1 p-2 pr-0 rounded bg-success">
                        <div class="col-1 pt-2"><i class="fas fa-file-archive"></i> </div>
                        <div class="col-4 col-xl-6 pt-2"><?= $val['lien'] ?></div>
                        <div class="col-4 col-lg-4 col-xl-3 pt-2"><?= strtoupper($val['date_facture']) ?></div>
                        <div class="col-1 d-flex justify-content-end"><a href="/MesFactures/?factureview=<?= $val['lien'] ?>"><button class="btn"><i class="far fa-eye"></i></button></a></div>
                        <div class="col-1 d-flex justify-content-end"><a href="/MesFactures/?facturedownload=<?= $val['lien'] ?>"><button class="btn"><i class="fas fa-download"></i></button></a></div>
                    </div>
        <?php
                    }
                endforeach;
            endif;
        ?>
        </div>

        <div class="card-body p-3">
                <div class="row d-flex  mb-1 p-3 pr-0 rounded bg-light">
                    <div class="col-12 d-flex justify-content-center">
                        <a class="mr-5" href="/MesFactures/?limit=<?= $page - 10; ?>"><i class="fas fa-chevron-left"></i></a>
                        <a class="ml-5" href="/MesFactures/?limit=<?= $page + 10; ?>"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
        </div>
    <!-- end -->
    </div>

</div>