<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>FACTURES IMPAYÉES</b>
        </div>

        <?PHP

        if ($_SESSION['flash']):
        ?>

        <div class="alert alert-<?= $_SESSION['icon'];?> mt-3" role="alert">
        <?= $_SESSION['flash']; ?>
        </div>

        <?PHP

        $_SESSION['flash'] = null;
        endif;
        ?>

        <div class="card-body p-3">
        <?php
            if($result_Facture){
                foreach($result_Facture as $key =>$val){

        ?>
                    <div class="row d-flex row-red mb-1 p-3 pr-0 rounded">
                        <div class="col-1 pt-2"><a href="/OutBills/?factureview=<?= $val['lien'] ?>" target="_blank"><button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button></a></div>
                        <div class="col-3 col-xl-3 pt-2"><?= $val['lien'] ?></div>
                        <div class="col-2 col-xl-2 pt-2"><?= $val['nom'] ?></div>
                        <div class="col-2 col-xl-2 pt-2"><?= $val['prenom'] ?></div>
                        <div class="col-4 col-lg-4 col-xl-3 pt-2"><b><?= strtoupper($val['date_facture']) ?></b></div>
                        <div class="float-right"><a href="/OutBills/?Pay=<?= $val['id_facture'] ?>" onclick="return confirm('Cette facture est-elle payée ?');" ><button type="button" class="btn "><i class="far fa-thumbs-up"></i></button></a></div>
                    </div>
        <?php

            }
          }
        ?>

        </div>

        <div class="card-body p-3">
                <div class="row d-flex  mb-1 p-3 pr-0 rounded bg-light">
                    <div class="col-12 d-flex justify-content-center">
                        <a class="mr-5" href="/OutBills/?limit=<?= $page - 10; ?>"><i class="fas fa-chevron-left"></i></a>
                        
                        <a class="ml-5" href="/OutBills/?limit=<?= $page + 10; ?>"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
        </div>
    <!-- end -->
    </div>

</div>
