<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
        <div class="card col-12 pl-lg-0 pb-5" >

            <div class="card-header text-center">
                <b>LES SERVICES</b>
            </div>
            <?PHP

            if ($_SESSION['flash']):
            ?>

            <div class="alert alert-<?= $_SESSION['icon'];?> mt-3" role="alert">
            <?= $_SESSION['flash']; ?>
            </div>

            <?PHP

            $_SESSION['flash'] = null;
            endif;
            ?>
            <div class="card-body pt-2">

            <?php

                if($table):
                    for($i = 0; $i <count($table); $i++){

                        $image = $table[$i]['img'].'.png';

                ?>



                <div class="panel-body">
                    <div class="col-12 p-3 col-message mb-1 p-3 pr-0 rounded bg-light">
                        <a href="/ServiceViewA/?id=<?=  $table[$i]['id_abonnement'] ?>" ><button type="button" class="btn"><i class="fas fa-eye"></i></button></a>
                        <?=$table[$i]['nom']?>


                        <div class="float-right">
                          <a href="/ModifServiceViewA/?id=<?=  $table[$i]['id_abonnement'] ?>" ><button type="button" class="btn"><i class="fas fa-wrench"></i></button></a>
                          <a href="/ListeAbonnement/?delete=<?= $table[$i]['id_abonnement'] ?>" onclick="return confirm('Voulez-vous supprimer ?');"><button type="button" class="btn"><i class="fas fa-trash-alt"></i></button></a>
                        </div>
                        </div>
                    </div>








                        <?php

                            if($i > (count($table)-2) and (($i +1) % 3) === 1){

                        ?>
                                    <div class="card col-15 col-lg-4"></div>
                                    <div class="card col-15 col-lg-4"></div>

                        <?php
                            }else if($i > (count($table)-2) and (($i +1) % 3) === 2){

                                ?>

                                    <div class="card col-15 col-lg-4"></div>


                                <?php

                            }
                            if($i > 13 and (($i +1) % 1) === 0){
                        ?>
                                </div>

                                <div class="card-body pt-2">

                        <?php

                            }
                        ?>

                <?php

                    }
                endif;
            ?>
            </div>
        </div>
    </div>
