<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
        <div class="card-header text-center">
            <b>CHARGER UN FICHIER</b>
        </div>

        <form method="post" action="/Upload" class="mt-3"  enctype="multipart/form-data">

            <?PHP

            if ($_SESSION['flash']):
            ?>

                <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                <?= $_SESSION['flash']; ?>
                </div>

            <?PHP

                $_SESSION['flash'] = null;
                endif;
            ?>

            <div class="form-group" >
                <label for="exampleInputEmail1">Rechercher un e-mail :</label>
                <input type="email" class="form-control" id="searchUser" name="mail" aria-describedby="emailHelp" autocomplete="off"
                placeholder="<?php if (isset($_POST['mail'])){echo $_POST['mail'];} ?>"
                value="<?php if (isset($_POST['mail'])){echo $_POST['mail'];} ?>" />
                <div id="dropSelect" class=" alert alert-info mt-3 " role="alert"></div>
            </div>

            <?php
                if (isset($_POST['mail'])) 
                {
             ?>
                    <div class="mb-3">
                        <select class="form-control" name="nom">
                            <option value="">Choisir un projet</option>
            <?php
                        foreach ($lesProjets as $unProjet) 
                        {
            ?>
                            <option value="<?= $unProjet['nom'] ?>"><?= $unProjet['nom'] ?></option>
            <?php
                        }
            ?>
                        </select>
                    </div>

                    <div class="custom-file mb-5">
                        <input type="file" class="custom-file-input" id="file" name = "file" lang="fr" />
                        <label class="custom-file-label" for="customFileLang">Sélectionner un fichier </label>
                    </div>
                    
                    <div class="d-flex justify-content-lg-end">
                        <button type="submit" name="charger" class="btn " >Charger</button>
                    </div>
             <?php
                }
            ?>
        </form>
    </div>

</div>