<?php
// Pour la Modification du service
?>
<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>MODIFICATION DU SERVICE</b>
        </div>

            <?PHP
                if ($_SESSION['flash']):
            ?>

            <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                <?= $_SESSION['flash']; ?>
            </div>

            <?PHP

            $_SESSION['flash'] = null;
               endif;
            ?>

            <?php
            if($table):
                $image =  $table[0]['img'].".png";
            ?>

            <div class="row pt-3">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card bg-light">
                  <div class="card-body">
                    <img class="card-img-top" src="./<?= asset('img/assets/'.$image); ?>" alt="Card image cap">
                    <p></p>

                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card bg-light pt-3">
                  <div class="card-body">
                    <h4><?=   $table[0]['nom'] ?></h4>
                    </br>
                    <p>Description: </br></br> <?=   nl2br($table[0]['description']) ?></p>
                    <?php
                          //Remplace dot with comma
                          $numberPrice = str_replace('.',',', $table[0]['prix']);
                        ?>
                    <div class="float-right">
                      <h3 style="color: #e96656">Prix: <?=  $numberPrice ?> €</h3>
                    </div>
                    </br>
                    </br>
                    <form method="post" action="" enctype="multipart/form-data">
                        <div class="custom-file mb-5">
                            <input type="file" class="custom-file-input" id="img" name="img" lang="fr">
                            <label class="custom-file-label" for="customFileLang">Sélectionner une image</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom produit :</label>
                            <input type="text" class="form-control" id="nom" name="nom" aria-describedby="emailHelp" placeholder="Nom" value="<?=   $table[0]['nom'] ?>">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Description :</label>
                            <textarea class="form-control" id="description" name="description" aria-describedby="emailHelp" placeholder="Description"><?=   $table[0]['description'] ?></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Prix :</label>
                            <input type="text" class="form-control" id="prix" name="prix" aria-describedby="emailHelp" placeholder="Prix" value="<?=   $table[0]['prix'] ?>">
                        </div>
                        <div class="d-flex justify-content-lg-end">
                            <button type="submit" name="modifier" class="btn" style="width: 100%">Modifier</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <?php
            endif;
            ?>
    <!-- end -->
    </div>

</div>
