<!--
// name of project Makeflo.
// Script create by BUYUK cem.
// Contact: cembuyuk7@gmail.com.
// Web : www.buyukcem.com
//method create by M ROUIBAH
// Contact: lakhdar-rouibah@live.fr.
// Web : rouibah.fr
-->

<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>CREATION DE FACTURE</b>
        </div>
        <div class="card-body p-0 pt-3">
          <?php print_r($query);?>
                <form method="post" action="" enctype="multipart/form-data">

                      <?PHP
                          if ($_SESSION['flash']):
                      ?>
                      <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                          <?= $_SESSION['flash']; ?>
                      </div>
                      <?PHP
                          $_SESSION['flash'] = null;
                          endif;
                      ?>
                    <!--
                      <div class="nom">
                          <label for="objetfacture">Nom Client :</label>
                          <input type="text" class="form-control" id="nom" name="nom" aria-describedby="nom" placeholder="Nom Client">

                      </div>
                    -->
                      <div class="form-group">
                          <label for="objetfacture">Nom Client :</label>
                          <select name="name" id="name"class="form-control">
                            <option value="">Selectionne un client</option>
                            <?php
                            if($query):
                                foreach($query as $val):
                            ?>
                              <option value="<?php $val['nom'];?>"><?php  print($val['nom'].' '.$val['prenom']); ?></option>
                            <?php
                                endforeach;
                            endif;
                            ?>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="objetfacture">object de la facture :</label>
                          <input type="text" class="form-control" id="objet" name="objet" aria-describedby="objetfacture" placeholder="L'objet de votre facture">
                                                                                                <!--Voir ca sert a quoi aria-describedby-->
                      </div>
                      <div class="form-group">
                          <label for="modepaiement">Mode de paiement :</label>
                          <select name="modepaiement" id="mode de paiement"class="form-control">
                            <option value="Virement">Virement</option>
                            <option value="cheque">Chéque</option>
                            <option value="en ligne">Paiement en ligne</option>
                          </select>
                      </div>
                      <div class="form-group">
                         <label for="date">Date:</label>
                         <input type="text" class="form-control" id="date_facture" name="date_facture" aria-describedby="date_facture" placeholder="La date de votre facture">
                                                                                                           <!--Voir ca sert a quoi aria-describedby-->
                      </div>
                      <div class="form-group">
                          <label for="date">Facture a l'intention de:</label>
                          <input type="text" class="form-control" id="name_intention" name="name_intention" aria-describedby="intentionname" placeholder="Votre facture est a l'intention de:">
                                                                                                <!--Voir ca sert a quoi aria-describedby-->
                      </div>
                      <div class="d-flex justify-content-lg-end">
                            <button type="submit" class="btn ">Crée</button>
                      </div>
               </form>
        </div>
    <!-- end -->
    </div>

</div>
