<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>CONTRAT DES CLIENTS</b>
        </div>

        <?PHP

        if ($_SESSION['flash']):
        ?>

        <div class="alert alert-<?= $_SESSION['icon'];?> mt-3" role="alert">
        <?= $_SESSION['flash']; ?>
        </div>

        <?PHP

        $_SESSION['flash'] = null;
        endif;
        ?>

        <div class="card-body p-3">
        <?php
        if($res){
            foreach($res as $key =>$val){

        ?>

                  <div class="panel-body" >

                    <div class="row d-flex row mb-1 p-3 pr-0 rounded">

                        <div class="col-1 d-flex justify-content-end"><a href="/ClientContract/?contractview=<?= $val['lien'] ?>" target="_blank"><button class="btn"><i class="far fa-eye"></i></button></a></div>
                        <div class="col-3 col-xl-3 pt-2"><b><?= ($val['nom'])?></b></div>
                        <div class="col-3 col-xl-2 pt-2"><b><?= ($val['prenom'])?></b></div>
                        <div class="col-5 col-xl-6 pt-2"><b><?= ($val['lien'])?></b></div>



                    </div>
                  </div>

        <?php

            }
          }
        ?>
        </div>
    <!-- end -->
    </div>

</div>
