<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
        <div class="card col-12 pl-lg-0 pb-5" >

            <div class="card-header text-center">
                <b>AJOUTER UN UTILISATEUR</b>
            </div>
            <div class="card-body p-0 pt-3">
                    <form method="post" action="">

                    <!--Affichage des erreurs-->
                    <?PHP
                        if ($_SESSION['flash']):
                    ?>

                    <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                        <?= $_SESSION['flash'];?>
                    </div>

                    <?PHP

                    $_SESSION['flash'] = null;
                        endif;
                    ?>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Privilège</label>
                            <select class="form-control" id="type" name="type" required>
                                <option value="">Choisir un privilège</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nom :</label>
                            <input type="text" class="form-control" id="nom" name="nom" aria-describedby="emailHelp" placeholder="Nom" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Prénom :</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" aria-describedby="emailHelp" placeholder="Prénom" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Téléphone :</label>
                            <input type="text" class="form-control" id="tel" name="tel" aria-describedby="emailHelp" placeholder="Téléphone" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail :</label>
                            <input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp" placeholder="E-mail" required>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe <a href="#" data-toggle="tooltip" title="Entrez une combinaison d'au moins 8 chiffres, lettres en majuscule et minuscule">*</a> :</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
                        </div>

                        <p>Tous les champs sont obligatoires pour le bon fonctionnement du site. Merci de les remplir.</p>

                        <div class="d-flex justify-content-lg-end">
                            <button type="submit" class="btn ">Valider</button>
                        </div>
                    </form>
                    
            </div>
        </div>
    </div>
