<div class="col-0 col-lg-4"></div>
<div class="col-12 col-lg-4 mt-5 col-login">
    <div class="card ">
        <div class="card-header text-center">
            <h3><b>S'IDENTIFIER</b></h3>
        </div>
        <div class="card-body">

        <?PHP
            if($_SESSION['register'] === 'register'){

        ?>

                <form method="post" action="">

                <?PHP

                    if ($_SESSION['flash']):
                ?>

                <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                    <?= $_SESSION['flash']; ?>
                </div>

                <?PHP

                $_SESSION['flash'] = null;
                    endif;
                ?>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nom :</label>
                        <input type="text" class="form-control" id="nom" name="nom" aria-describedby="emailHelp" placeholder="Nom">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Prénom :</label>
                        <input type="text" class="form-control" id="prenom" name="prenom" aria-describedby="emailHelp" placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Téléphone :</label>
                        <input type="text" class="form-control" id="tel" name="tel" aria-describedby="emailHelp" placeholder="Téléphone">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail :</label>
                        <input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp" placeholder="E-mail">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Mot de passe :</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                    </div>
                    <div class="d-flex justify-content-lg-end">
                        <button type="submit" class="btn " >S'enregistrer</button>
                    </div>
                </form>


        <?php
            }else if($_SESSION['register'] === null){

        ?>
            <form  method="post" action="">
                <?PHP

                    if ($_SESSION['flash']):
                ?>

                <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                    <?= $_SESSION['flash']; ?>
                </div>

                <?PHP

                $_SESSION['flash'] = null;
                    endif;
                ?>
                <div class="form-group">
                    <label for="exampleInputEmail1">E-mail :</label>
                    <input type="email" class="form-control" id="mail" name="mail" aria-describedby="emailHelp" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe :</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                </div>
                <div class="d-flex justify-content-lg-end">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Mot de passe oublié
                    </button>
                    <button type="submit" class="btn ml-3" name="login" >Se connecter</button>
                </div>
            </form>
        <?php
            }

            ?>
        </div>
    </div>
</div>
<div class="col-0 col-lg-4"></div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mot de passe oublié</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert">
                    Entrez votre adresse e-mail afin de recevoir un lien pour changer votre mot de passe
                </div>
                <form  method="post" action="">
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail :</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="E-mail">
                    </div>
                    <div class="d-flex justify-content-lg-end">
                        <button type="submit" class="btn btn-primary" name="change">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>