<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>À LA UNE</b>
        </div>

      <!-- Affichage du message de Rappel  Assistance technique -->
      
      <?php
          if ($_SESSION['flash']){
      ?>

              <div class="alert mt-3 alert-<?= $_SESSION['icon'];?>" role="alert">
                  <?= $_SESSION['flash']; ?>
              </div>

      <?php
          $_SESSION['flash'] = null;
          }
      ?>


        <div class="row row-head-nav p-3 pt-3">
            <div class="col-12 d-flex flex-wrap">
                <?php
                    $nombreActualite=0;
                    foreach ($actualite as $uneActualite) {
                        //Limite le nombre d'actualité à 3 sur Home
                        if ( $nombreActualite == 3) {
                            break;
                        }
                ?>
                            <a href="<?= $uneActualite['lien'];?>" class="card m-2">
                                <img class="card-img-top" src="./<?= asset('img/actualite/'.$uneActualite['img'].'.png'); ?>" alt="<?= $uneActualite['titreAlt'];?>">
                            </a>
                <?php
                        $nombreActualite++;
                    }
                ?>

            </div>
        </div>

    <!-- end -->
    </div>

</div>
