<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>HISTORIQUE DES PROJETS</b>
        </div>

        <?PHP

        if ($_SESSION['flash']):
        ?>

        <div class="alert alert-<?= $_SESSION['icon'];?> mt-3" role="alert">
        <?= $_SESSION['flash']; ?>
        </div>

        <?PHP

        $_SESSION['flash'] = null;
        endif;
        ?>

        <div class="card-body p-3">
        <?php
        if($res_project){
            $nombreProjet = 0;
            foreach($res_project as $key =>$val){
                $nombreProjet = $nombreProjet + 1;
        ?>

                  <div class="panel-body">

                    <div class="row d-flex row-red mb-1 p-3 pr-0 rounded">

                        <div class="col-1 pt-2"><button class="btn" type="button" data-toggle="collapse" data-target="#collapse<?=$nombreProjet?>" aria-expanded="false" aria-controls="collapse"><i class="fas fa-arrow-down"></button></i></div>
                        <div class="col-3 col-xl-3 pt-2"><b><?= strtoupper($val['nom'])?></b></div>
                        <div class="col-2 col-xl-3 pt-2"><b><?= $val['description'] ?></b></div>
                        <div class="col-2 col-xl-3 pt-2"><b><?=$val['deadline']?></b></div>
                        <div class= "float-right">
                          <a href="/HistoryProjet/?delete=<?= $val['id_project'] ?>" onclick="return confirm('Voulez-vous supprimer ce projet ?');"><button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i></button></a>
                        </div>

                    </div>
                  </div>





                  <div class="panel-collapse collapse" id="collapse<?=$nombreProjet?>" >
                  <?php
                      $lesFichiers = scandir ('./Core/public/folders/projects/'.$val['folder']);
                      foreach($lesFichiers as $unFichier){
                          if($unFichier <> "." and $unFichier <> ".." and $unFichier <> ".htaccess"){
                              $cheminFichier = './Core/public/folders/projects/'.$val['folder'].'/'.$unFichier;
                  ?>

                              <div class="panel-body">
                                  <div class="col-12 p-3 col-message mb-1 p-3 pr-0 rounded bg-light">
                                      <a href="HistoryProjet/?folder=<?= $val['folder'] ?>&Eye=<?= $unFichier ?>" target="_blank"><button class="btn"><i class="fas fa-eye"></i></button></a>
                                      <?=$unFichier?>
                                      <?=services\Tools::FileSizeConvert(filesize($cheminFichier));?>

                                      <div class="float-right">
                                          <a href="/HistoryProjet/?folder=<?= $val['folder'] ?>&Download=<?= $unFichier ?>"><button type="button" class="btn"><i class="fas fa-download"></i></button></a>
                                      </div>
                                  </div>
                              </div>




                  <?php
                          }
                      }
                  ?>
                  </div>
        <?php

            }
          }
        ?>
        </div>

    <!-- end -->
    </div>

</div>
