<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>CONTRAT À TRAITER</b>
        </div>
        <div class="card-body p-3">

        <?php

            if ($_SESSION['flash']){
            ?>

            <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
                <?= $_SESSION['flash']; ?>
            </div>

            <?php

            $_SESSION['flash'] = null;
            }


            if(isset($res_contratATraiter)):
                foreach($res_contratATraiter as $key =>$val){

        ?>
                <?php $nomAbonnement = services\Tools::search_with('nom', 'Abonnement', "WHERE id_abonnement = ".$val['id_abonnement'].";");?>

                <form method="POST" action="../TraitementContratUpload">
                    <input type="hidden" name="id_user" value="<?=get_user($val['id_user'])[0]['id_user'];?>">
                    <input type="hidden" name="nom" value="<?=get_user($val['id_user'])[0]['nom'];?>">
                    <input type="hidden" name="prenom" value="<?=get_user($val['id_user'])[0]['prenom'];?>">
                    <input type="hidden" name="id_abonnement" value="<?=$val['id_abonnement'];?>">
                    <input type="hidden" name="nom_abonnement" value="<?=$nomAbonnement[0]['nom'];?>">
                    <input type="hidden" name="dateDemande" value="<?=$val['date_achat'];?>">


                    <div class="d-flex justify-content-start row-message  ">
                        <div class="col-12 col-message p-1 mb-4 rounded ">
                            <div class="card text-center">
                                <div class="card-header">
                                    Abonnement
                                </div>
                            <div class="card-body">
                                <h5 class="card-title"><?= get_user($val['id_user'])[0]['nom'] ?> <?= get_user($val['id_user'])[0]['prenom']?></h5>
                                <p class="card-text"><?= $nomAbonnement[0]['nom']; ?></p>
                                <button type="submit" value="Traiter" class="btn btn-primary">Traiter</button>
                                  
                            </div>
                                <div class="card-footer text-muted">
                                <?= $val['date_achat'] ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>




        <?php
            }
        endif;
        ?>

        </div>
    <!-- end -->
    </div>

</div>
