<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
              <b>MODIFICATION INFO CLIENT</b>
          </div>
        <?PHP
            if ($_SESSION['flash']):
        ?>
        <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
            <?= $_SESSION['flash']; ?>
        </div>
        <?PHP
              $_SESSION['flash'] = null;
              endif;
        ?>
        <div class="card-body p-0 pt-3">
          <?php
          if($res_val):
              foreach($res_val  as $val):
              //Affichage du form avec les valeur de la req  $res_val=$clients->search_in_table("*",$valeur); voir model Infoclient.model.php
          ?>
                <form method="post" action="" enctype="multipart/form-data">
                      <div class="form-group">
                          <label for="objetfacture">Nom:</label>
                          <input type="text" name="nom" value="<?php print($val['nom']); ?>" class="form-control" >
                      </div>
                      <div class="form-group">
                          <label for="objetfacture">Prénom:</label>
                          <input type="text" value=" <?php print($val['prenom']); ?> " name="prenom" class="form-control" >
                      </div>
                      <div class="form-group">
                          <label for="objetfacture">Tél :</label>
                          <input type="text" name="tel"  value="<?php print($val['tel']);?>" class="form-control">
                      </div>
                  
                      <div class="d-flex justify-content-lg-end">
                            <button type="submit" class="btn ">Modifier</button>
                            </a>


                      </div>
               </form>
          <?php
             endforeach;
             endif;
         ?>
        </div>
    <!-- end -->
    </div>

</div>
