<div class="row row-body p-lg-5 p-3">
    <div class="col-12 col-lg-8 col-body pl-lg-0">
    <div class="card col-12 pl-lg-0 pb-5" >
    <!-- start -->
        <div class="card-header text-center">
            <b>LISTE DES CLIENTS </b>
        </div>

        <?PHP
            if ($_SESSION['flash']):
        ?>

        <div class="alert alert-<?= $_SESSION['icon'];?>" role="alert">
            <?= $_SESSION['flash']; ?>
        </div>

        <?PHP

        $_SESSION['flash'] = null;
           endif;
        ?>
        <div class="card-body p-1">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Téléphone</th>

                </tr>
            </thead>
            <tbody>
            <?php
            if($res_clients):
                foreach($res_clients as $val):
            ?>
                        <tr>
                          <td scope="row"><?= $val['nom'] ?></td>
                          <td><?= $val['prenom'] ?></td>
                          <td><?= $val['mail'] ?></td>
                          <td><?= $val['tel'] ?></td>
                          <td>
                              <a href="/Infoclient/?user=<?= $val['id_user'] ?>">
                                <button type="button" class="btn"><i class="fas fa-edit" ></i></button>
                              </a>
                          </td>
                          <td>
                               <a href="/ListeClient/?delete=<?= $val['id_user'] ?>" onclick="return confirm('Voulez-vous supprimer ce client ?');">
                                <button type="button" class="btn"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                                </a>
                          </td>


                        </tr>
            <?php
                endforeach;
            endif;
            ?>
            </tbody>
            </table>
            <div class="card-body p-3">
                    <div class="row d-flex  mb-1 p-3 pr-0 rounded bg-light">
                        <div class="col-12 d-flex justify-content-center">
                            <a class="mr-5" href="/ListeClient/?limit=<?= $page - 10; ?>"><i class="fas fa-chevron-left"></i></a>
                        <b></b>
                            <a class="ml-5" href="/ListeClient/?limit=<?= $page + 10; ?>"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
            </div>
        </div>
    <!-- end -->
    </div>

</div>
